
*{
    margin:0px;
    padding:0px;
}

body {
    background-color: #f3f3f3;
}
/*carousel container*/
.main-banner{
    margin:0 auto;
    width: 1200px;
    height:400px;
    background-color: #fff;
    overflow: hidden;
    /*container has to have a position relative if the children are going to have position absolute*/
    position:relative;
}