
*{
    margin:0px;
    padding:0px;
}

body {
    background-color: #f3f3f3;
}
/*carousel container*/
.main-banner{
    margin:0 auto;
    width: 1200px;
    height:400px;
    background-color: #fff;
    overflow: hidden;
    /*container has to have a position relative if the children are going to have position absolute*/
    position:relative;
}
    .main-banner .imgban {
        width: 100%;
        height: 100%;
        /*container has to have a position relative if the children are going to have position absolute*/
        position: absolute;
        top: 0px;
        transition: all ease-in-out 500ms;
        -webkit-transition: transition: all ease-in-out 500ms;
        -moz-transition: transition: all ease-in-out 500ms;
    }

    .main-banner #imgban3 {
        background-image: url('beach3.jpg');
        background-size:cover;
        background-position:center;
        background-repeat:no-repeat;
    }
    .main-banner #imgban2 {
        background-image: url('beach2.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .main-banner #imgban1 {
        background-image: url('beach1.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }